@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";

}

    <h1>@ViewBag.SeriesTitle</h1>
    <h2>Issue #@ViewBag.IssueNumber</h2>
    <h5>@Html.Raw(ViewBag.Description)</h5>
    @if (@ViewBag.Artists.Length > 0)
{
    <div>
        Artists:
        <ul>

            @foreach (string artist in @ViewBag.Artists)
        {
            <li>@artist</li>
    }
        </ul>
    </div>
}

 