@model comic_book_gallery.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;

}

    <h1>@Model.SeriesTitle</h1>
    <h2>Issue #@Model.IssueNumber</h2>
    <h5>@Html.Raw(Model.DescriptionHtml)</h5>
    @if (@Model.Artists.Length > 0)
{
    <div>
        Artists:
        <ul>

            @foreach (var artist in @Model.Artists)
        {
            <li>@artist.Role: @artist.Name</li>
    }
        </ul>
    </div>
}

 